---
layout: default-post
---
<div class="post">

  <section class="post-meta">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if page.subtitle %}
      <h6 class="post-subtitle">{{ page.subtitle }}</h6>
    {% endif %}
    <h4 class="post-info">{{ page.author }} &#x25cf; {{ page.date | date: "%b %-d, %Y" }}</h4>
  </section>

  <article class="post-content">
    {{ content }}
  </article>

  <div align="center">
  	<a href="#">
  	<i class="fa fa-arrow-circle-up fa-2x"></i>
  	</a>
  </div>

</div>
